/* home */
#home{
    height: 820px;
}
.headin{
    font-size: 1.7rem;
}
/* about */
#pic img{
    width: 300px;
    height: 175px;
}
#intro h2{
    font-size: 1.5rem;
}
.box{
    padding: 10%;
}